<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<?if $(var.Platform) = x64?>
	<?define ProductCode = "{3CD80824-B213-4A4C-A77D-1EAF57E29960}"?>
	<?else?>
	<?define ProductCode = "{2CFA6072-D8E9-461C-A024-291D3F1D23B4}"?>
	<?endif?>
	<?define UpgradeCode = "{DD94228A-B7E2-44DC-B13F-7FDE2E0ED6CE}"?>
	
	<Product Id="$(var.ProductCode)"
			 Name="!(loc.ProductName_$(var.Platform))"
			 Language="1033"
			 Version="$(var.BuildVersion)"
			 Manufacturer="!(loc.Manufacturer)"
			 UpgradeCode="$(var.UpgradeCode)">
		
		<Package InstallerVersion="200"
				 Compressed="yes"
				 InstallScope="perMachine"
				 Platform="$(var.Platform)"
				 Manufacturer="!(loc.Manufacturer)"
				 Description ="!(loc.Description)"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of !(loc.ProductName_$(var.Platform)) is already installed." />
		
		<MediaTemplate EmbedCab="yes"/>

		<Icon Id="Icon" SourceFile="$(var.ProjectDir)\ProjectCalmIcon.ico"/>

		<Property Id="ARPPRODUCTICON">Icon</Property>
		<Property Id="ARPURLINFOABOUT">https://github.com/BadScientist/ProjectCalm</Property>

		<UIRef Id="WixUI_Minimal"/>
		<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\SideBanner.bmp"/>
		<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\TopBanner.bmp"/>
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\License.rtf"/>

		<Feature Id="ProductFeature" Title="!(loc.ProductName)" Level="1">
			<ComponentGroupRef Id="InstallComponents" />
			<ComponentGroupRef Id="ShortcutComponents" />
		</Feature>
	</Product>

	<!-- DIRECTORIES -->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			
			<?if $(var.Platform) = x64?>
			
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="!(loc.ProductFolderName)" />
			</Directory>
			
			<?else?>
			
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="!(loc.ProductFolderName)" />
			</Directory>
			
			<?endif?>

			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="!(loc.ProductName)" />
			</Directory>
			
		</Directory>
		
	</Fragment>

	<!-- Components -->
	<Fragment>
		<ComponentGroup Id="ShortcutComponents">
			<ComponentRef Id="ExecutableShortcutComponent"/>
		</ComponentGroup>

		<DirectoryRef Id="INSTALLFOLDER" FileSource="..\Build\Windows\ProjectCalm" />
		
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ExecutableShortcutComponent" Guid="{1F7BDEB7-7DBA-4C7A-B4B3-2D882D7CC223}">
				<Shortcut Id="ExecutableShortcut"
						  Name="!(loc.ProductName)"
						  Target="[INSTALLFOLDER]!(loc.ProjectName).exe"
						  WorkingDirectory="INSTALLFOLDER"
						  Icon="Icon" />
				<RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Id="RegShortcutKey" Root="HKCU" Key="SOFTWARE\!(loc.ProductFolderName)" Name="Shortcut" Value="1" Type="integer" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
